@import '~bootstrap/scss/bootstrap';

#unauthenticated {
  flex-shrink: 1;
}

#iron-heading {
  color: #ff0000;
  text-align: center;
}

#authenticated {
  display: none;
}

#ironManHelmet, #sign-up, #sign-in {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#change-password, #sign-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}


// #ironManAllySection {
//   display: flex;
//   }
//
// #ironManAllySection {
//   display: flex;
//   }
//  {
//
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// align-items: center;
// justify-content: center;
