@import '~bootstrap/scss/bootstrap';

#unauthenticated {
  flex-shrink: 1;
}

#iron-heading {
  color: #ff0000;
  text-align: center;
}

#authenticated {
  display: none;
}

#ironManHelmet, #sign-up, #sign-in {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

#change-password, #sign-out {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#ironManSuitSection {
  background-color: #ff0000;
  padding: 15px 0px;
  }

  #ironManAllySection {
    background-color: #478af5;
    padding: 15px 0px;
    }

#suit-content {
  align-items: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 10px 30px;
  padding: 10px 30px;
}
#ally-content {
  align-items: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 10px 30px;
  padding: 10px 30px;
}
//  {
//
//   padding: 0;
//   margin: 0;
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// align-items: center;
// justify-content: center;
